#Inline {
    color: red;
    font-size: 24px;
}

#Internal {
    color: blue;
    font-size: 24px;
}

#External {
    color: green;
    font-size: 24px;
}

.box {
    width: 6em;
    height: 3em;
    border: 1em solid rgb(252, 226, 123);
    background-color: rgb(34, 255, 126);
    outline: 1em solid rgb(161, 108, 43);
    margin: 2em;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: #c702fe;
    border: solid 2px black;
    border-radius: 2em;
    width: 20em;
    height: 7em;
    align-items: center;
    gap: 10px;
}

.flex-item {
    width: 75px;
    height: 75px;
    background-color: #f6ff00;
    border: solid 2px black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    border: solid 2px black;
    border-radius: 2em;
    width: 20em;
    height: 7em;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  50px;
    height: 50px;
}
#Psedo-class > li:nth-child(1) > div {
    width: 100px;
    height: 30px;
    background-color: lightgray;
    text-align: center;
    line-height: 30px;
    border: solid 1px black;
}
#Psedo-class > li:nth-child(1) > div:hover {
    background-color: yellow;
}
#Psedo-class > li:nth-child(2) > input {
    width: 100px;
    height: 30px;
    background-color: lightgray;
    text-align: center;
    line-height: 30px;
    border: solid 1px black;
}
#Psedo-class > li:nth-child(2) > input:focus {
    background-color: gray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
#Psedo-class > li:nth-child(3) > a {
    padding: 5px 10px;
    background-color: lightgray;
    text-decoration: none;
    line-height: 30px;
    border: solid 1px black;
}
#Psedo-class > li:nth-child(3) > a:active {
    background-color: yellow;
}
#Psedo-class > li:nth-child(4) > a {
    padding: 5px 10px;
    background-color: lightgray;
    text-decoration: none;
    line-height: 30px;
    border: solid 1px black;
}
#Psedo-class > li:nth-child(4) > a:visited {
    background-color: black;
    color: white;
}